---
import Layout from "../layouts/layout.astro";
import Education from "../layouts/education.astro";
import Experience from "../layouts/experience.astro";
import ResearchInterest from "../layouts/research_interest.astro";
---

<Layout title="Home">
  <div
    class="flex min-h-[calc(100vh-6rem)] flex-col items-center justify-center space-y-4 py-4 md:flex-row md:space-x-4 md:space-y-0"
  >
    <div
      class="flex basis-1/3 flex-col items-center justify-center space-y-4 py-4"
      id="info"
    >
      <img
        src="/avatar.jpg"
        alt="profile"
        class="aspect-square h-48 w-48 rounded-full object-cover"
      />
      <hr class="border-1 border-nepal-400 w-10/12" />
      <h1 class="text-2xl font-bold">Han-Ping Wu</h1>
      <p class="text-lg font-light">Graduate Student</p>
      <hr class="border-1 border-nepal-400 w-10/12" />
      <!-- email -->
      <div class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="text-nepal-700 size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z"
          ></path>
        </svg>
        <a href="mailto:Bey0nd@csie.io" class="text-nepal-400">
          Bey0nd[at]csie[dot]io
        </a>
      </div>
      <!-- Github -->
      <div class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="text-nepal-700 size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
          ></path>
        </svg>
        <p class="text-nepal-400">Github:</p>
        <a
          href="https://github.com/syzygy608"
          target="_blank"
          class="text-nepal-400"
        >
          syzygy608
        </a>
      </div>
    </div>
    <div class="w-[90%] basis-2/3 overflow-x-clip py-4">
      <div class="text-md w-[90%] text-center font-light md:text-left">
        I am a graduate student at National Cheng Kung University, Taiwan,
        conducting research at the Supercomputing and Intelligent Visual System
        Laboratory (SIVSL). My work centers on graph theory and approximation
        algorithms for NP-hard problems like Steiner Tree, building on my prior
        research in pairwise comparison and ranking.<br />
        With expertise in web development and a strong interest in Deep Learning,
        I plan to explore Electronic Design Automation (EDA).<br />
        Visit my website to view my projects and research, and contact me to discuss
        potential collaborations.
      </div>
      <Education />
      <Experience />
      <ResearchInterest />
    </div>
  </div>
</Layout>
