---
import Layout from "../layouts/layout.astro";
---

<Layout title="Slides">
  <div
    class="align-center flex min-h-[calc(100dvh-6rem)] items-center justify-center text-center"
  >
    <p class="w-10/12 text-lg font-light">
      Here are some slides I made for courses or presentations. The slides may
      be uploaded in the future.
    </p>
  </div>
</Layout>
