---
import Layout from "../layouts/layout.astro";
---

<Layout title="Slides">
  <div
    class="align-center flex flex-col min-h-[calc(100dvh-6rem)] items-center justify-center text-center"
  >
    <p class="w-10/12 text-lg font-light">
      Here are some slides and notes from my recent presentations and lectures.

      
    </p>
    <ul class="list-disc p-4 ml-4">
      <li>
        <a
          href="https://kotlin-book.vercel.app/"
          class="text-nepal-400 hover:text-nepal-600"
          >Introduction to Kotlin</a
        >
      </li>
    
  </div>
</Layout>
