---
interface Experience {
  organization: string;
  title: string;
  start: number;
  end?: number;
}

const myExperience: Experience[] = [
  {
    organization: "Computer Algorithm in M.S Program of CCU",
    title: "Head Teaching Assistant",
    start: 2025,
  },
  {
    organization: "Introduction to Algorithm in CCU",
    title: "Head Teaching Assistant",
    start: 2025,
  },
  {
    organization: "CCU Programming Contest Team",
    title: "Captain",
    start: 2023,
    end: 2025,
  },
];
---

<div class="flex flex-col pt-4">
  <h2 class="text-xl font-bold">Experience</h2>
  <ul class="list-disc p-4 ml-4">
    {
      myExperience.map((exp) => (
        <li>
          <div class="flex space-x-2">
            <p class="font-base">
              {exp.organization}
              {exp.title}
              in {exp.start} {exp.end ? `- ${exp.end}` : ""}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
