---
const interest = [
  "Pairwise Comparison",
  "Ranking",
  "Algorithm",
  "Graph Theory",
];
---

<div class="flex flex-col space-y-4 pt-4">
  <h2 class="text-xl font-bold">Research Interest</h2>
  <div class="flex flex-col md:flex-row space-y-2 md:space-x-2">
    {
      interest.map((item) => (
        <div class="bg-gossamer-100 text-gossamer-700 hover:bg-gossamer-300 flex justify-center items-center text-center rounded-full p-3 h-12 duration-300">
          {item}
        </div>
      ))
    }
  </div>
</div>
